/* reset */
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: -0.025em;
  color: #333;
}
body * {
  box-sizing: border-box;
}
*:focus {
  outline: 1px dotted #333;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.5;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: top;
}

/* common style */
.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0);
  clip-path: polygon(0, 0);
  overflow: hidden;
  text-indent: -9999px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
button,
input,
select,
a {
  cursor: pointer;
}